@media (max-width: 1024px) {
  .navbar__item:last-child:before {
    display: none;
  }

  .navbar__link {
    font-size: 12px;
    width: 8.5rem;
  }

  .event-example > h3 {
    font-size: 2em;
  }

  .event-example > p {
    font-size: 1.5em;
  }

  input,
  select,
  option {
    padding: 10px 5px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .body {
    cursor: auto;
  }
  .cursor {
    display: none;
  }
  .main-heading {
    font-size: 2.8rem;
  }

  .header {
    height: 0;
  }

  #mouse-events {
    margin-top: 100vh;
  }

  .main-heading {
    padding-bottom: 0;
    height: 100vh;
  }
  #hamburger-nav {
    display: block;
  }

  .event-container > h2 {
    top: 0;
  }
}

@media (max-width: 680px) {
  .main-heading {
    font-size: 2.4rem;
  }

  #menuToggle span {
    width: 25px !important;
    height: 2.5px !important;
  }

  #toggleConsoleButton {
    transform: scale(0.8);
  }

  #toggleModeButton {
    transform: scale(0.8);
  }

  .event-container > h2 {
    font-size: 2.2rem;
  }

  #menuToggle {
    top: 40px !important;
  }

  .event-example {
    transform: scale(0.8);
  }

  #menu li {
    padding: 15px 0;
    font-size: 16px !important;
  }

  #consoleDiv {
    transform: scale(0.8);
  }
}

@media (max-width: 520px) {
  .main-heading {
    font-size: 1.8rem;
  }

  .event-container > h2 {
    font-size: 1.7rem;
  }

  #menuToggle {
    top: 35px !important;
  }

  .end-card > h1 {
    font-size: 6rem;
  }

  #menuToggle {
    top: 33px !important;
  }

  .event-container > h2 {
    text-align: end;
    padding-right: 2rem;
    padding-left: 5rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .event-container > h2 {
    font-size: 1.3rem;
  }

  #menuToggle {
    top: 30px !important;
  }

  .main-heading {
    font-size: 1.6rem;
  }

  .end-card > h1 {
    letter-spacing: 0;
    font-size: 4rem;
  }
}
